.cartContenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartContenedor h1{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.cuadroProductos{
    background-color: rgb(239, 238, 238);
    margin-top: 1rem;
    padding-top : 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;

}

.botonVaciar {
    background-color: rgb(6, 6, 6);
    color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 2rem;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}


