.cardProducto{
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin:  0 auto;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
}

.cardProducto img{
    width: 100%;
    height: 540px;
    object-fit: cover;
    border-radius: 10px;
}

.cardProducto button{
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.cardProducto button:hover{
    background-color: #fff;
    color: #f00;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .9);
    transform: translate(0px, -5px);
}