.header{
    background: rgba(0,0,0,0.8) url(../imagenes/fondoCelus.webp);
    background-blend-mode: darken;
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloTienda{
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.botonComprar{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botonComprar:hover{
    background-color: #f00;
    color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .9);
    transform: translate(0px, -5px);

}

