
.tituloProductos{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.itemMio{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}